<form action="<%= url("/file_number") %>" method="POST">
  <div class="form-group">
    <label for="inputNumber"  style="color:#343434">Number of Files Displayed from Your Home Directory</label>
    <input name = "file_number" type="number" class="form-control" id="inputNumber">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>