<h2 class="h2">Search</h2>
<h3 class="h3">Directory</h3>
<p>Type in the directory you are interested in, then click "Search".</p>
<h3 class="h3">User</h3>
<p>Type in the user you are interested in, then click "Search".</p>
<h2 class="h2">All Jobs</h2>
<p>Get information on all jobs on the system. This may take a while, so be patient.</p>
